body {
    margin: 0;
    padding: 0;
    color: #2F4858
}

h1 {
    color: #FF3E25 
}

h2 {
    color: #FF6B5B
}

table {
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: left;
    background-color: #FF3E25;
    padding: 0;
    margin: 0;
}

nav li {
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
    display: inline-block;
    line-height: 60px;
    height: 60px;
}

 a:hover {
     color:steelblue; 
 }

 nav a {
     color:whitesmoke; 
     text-decoration: none;
     display: block;
 }

 nav a:hover {
     color: wheat;
 }

 footer {
    background-color: rgb(21, 44, 63);
    line-height: 100px;
    height: 100px;
    text-align: center;
    position: static;
 }

 footer a {
    text-decoration: none;
    color:whitesmoke;
 }
    
    