body {
    margin: 0;
    padding: 0;
    font-family: 'Gotu', sans-serif;
    background-color: black;
    color:gainsboro;
}

h1 {
    color: #D66309;
}

h2 {
    color: #FA940A
}

nav ul {
    list-style: none;
    text-align: left;
    background-color: #D66309;
    padding: 0;
    margin: 0;
}

nav li {
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
    display: inline-block;
    line-height: 55px;
    height: 55px;
    padding: 10px;
}

body a:hover {
     color:#e7b50e;
 }

body p a:visited {
     color:#d67d09; 
 }

nav a {
     color:whitesmoke; 
     text-decoration: none;
     display: block;
 }

nav a:hover {
     color: wheat;
 }

footer {
    background-color: #FA9B2E;
    line-height: 100px;
    height: 100px;
    text-align: center;
 }

footer a {
    text-decoration: none;
    color:whitesmoke;
    padding: 20px;
 }
    
.homepage-img {
     max-width: 100%;
 }   

.margin {
     margin-left: 170px;
     margin-right: 170px;
     margin-bottom: 50px;
     margin-top: 50px;
 }

iframe {
     padding-left: 25%;
     padding-right: 25%;
     padding-top: 8%;
     padding-bottom: 8%;
 }

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto; 
}

.footer {
    flex-shrink: 0;
}

.homepage-background {
    background-image: url("https://github.com/SamanthaBooth81/Edinburgh-School-Of-Kathak/blob/main/abhyuday-majhi-cropped.png?raw=true");
    background-repeat: no-repeat;
}

.timetable-background {
    background-image: url("https://github.com/SamanthaBooth81/Edinburgh-School-Of-Kathak/blob/main/saksham-gangwar-resized.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-background {
    background-image: url("https://github.com/SamanthaBooth81/Edinburgh-School-Of-Kathak/blob/main/conscious-design-contact-page.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form {
    margin: 0%;
    padding: 0px;
}

.form-input {
    width: 380px;
    padding: 0.5rem 1rem;
    margin-bottom: 16px;
    outline: none;
    border: 1.5px solid black;
}

.left-box {
    width: 35%;
    height: 100%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}

