body {
    margin: 0;
    padding: 0;
    font-family: 'Gotu', sans-serif;
    background-color: black;
    color:gainsboro;
}

h1 {
    color: #D66309;
}

h2 {
    color: #FA940A
}

table {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

table tr {
    padding: 5em;
}

nav ul {
    list-style: none;
    text-align: left;
    background-color: #D66309;
    padding: 0;
    margin: 0;
}

nav li {
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
    display: inline-block;
    line-height: 55px;
    height: 55px;
    padding: 10px;
}

body a:hover {
     color:#edb602
 }

body p a:visited {
     color:#D66309; 
 }

nav a {
     color:whitesmoke; 
     text-decoration: none;
     display: block;
 }

nav a:hover {
     color: wheat;
 }

footer {
    background-color: #FA9B2E;
    line-height: 100px;
    height: 100px;
    text-align: center;
 }

footer a {
    text-decoration: none;
    color:whitesmoke;
    padding: 20px;
 }
    
.homepage-img {
     max-width: 100%;
 }   

.timetable-img {
    width: 100%;
 }

.margin {
     margin-left: 200px;
     margin-right: 200px;
     margin-bottom: 50px;
 }

iframe {
     padding-left: 25%;
     padding-right: 25%;
     padding-top: 8%;
     padding-bottom: 8%;
 }

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto; 
}

.footer {
    flex-shrink: 0;
}

.form-background {
    background-image: url("https://github.com/SamanthaBooth81/Edinburgh-School-Of-Kathak/blob/main/conscious-design-contact-page.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}