body {
    margin: 0;
    padding: 0;
    font-family: 'Gotu', sans-serif;
    background-color: black;
    color:gainsboro;
}
nav ul {
    list-style: none;
    text-align: left;
    background-color: #D66309;
    padding: 0;
    margin: 0;
}
nav li {
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
    display: inline-block;
    line-height: 55px;
    height: 55px;
    padding: 10px;
}
nav a {
    color:whitesmoke; 
    text-decoration: none;
    display: block;
}
nav a:hover {
    color: wheat;
}
section {
    width: 100%;
    height: 100vh;
    background: url("https://github.com/SamanthaBooth81/Edinburgh-School-Of-Kathak/blob/main/saksham-gangwar-resized.jpg?raw=true");
    background-size: cover;
}
section .leftbox{
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}
section .leftbox .leftcontent {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 5s;
}

section .timetable {
    position: relative; 
    width: 50%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    float: right; 
    box-sizing: border-box;
}







footer {
    background-color: #FA9B2E;
    line-height: 100px;
    height: 100px;
    text-align: center;
 }

footer a {
    text-decoration: none;
    color:whitesmoke;
    padding: 20px;
 }
 html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto; 
}
.footer {
    flex-shrink: 0;
}

section {
    background-color: rgba(0, 0, 0, 0.5);
}